<div class="route-container">
  <svg class="train-route" viewBox="0 0 800 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="train-route__path" d="M2.71578245e-08,1 C2.71578245e-08,1 2.71578245e-08,1 60,1 C128.609995,1 120,101 200,101 C280,101 540,101.190918 600,101 C660,100.809082 680,1 740,1 L800,1"></path>
  </svg>
  <!-- <svg class="train-route" viewBox="0 0 800 122" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="train-route__path" d="M2.71578245e-08,21 L60,21 C128.609995,21 120,121 200,121 C280,121 540,121.190918 600,121 C660,120.809082 680,1 740,1 C800,1 800,1 800,1"></path>
  </svg> -->
</div>
