<div class="routes">
  <svg class="train-route train-route--top" viewBox="0 0 803 102" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="train-route--top__path" d="M2.171875,1.390625 C2.171875,1.390625 -17.6408829,1.390625 61.6795603,1.390625 C141.000004,1.390625 121.812496,100.730469 201.40625,100.730469 L602.387011,100.730469 C681.000004,100.730469 664.148434,1.90625 742.574219,1.90625 L802.590921,1.90625"></path>
  </svg>
  <svg class="train-route train-route--bottom" viewBox="0 0 804 104" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path class="train-route--bottom__path" d="M2.9140625,102.835938 C2.9140625,102.835938 -18.0000034,101.992188 62,101.992188 C142.000003,101.992188 125.914062,1.390625 203.957031,1.390625 C282,1.390625 524.257979,1.390625 603.12899,1.390625 C682,1.390625 664.492188,101.992188 743.246094,101.992188 L803.142584,101.992188"></path>
  </svg>
</div>
